.quem-sou-eu {
    border-radius: 30px;
    border: 5px solid;
    width: 900px;
    height: 200px;
    margin-top: 20px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-right: 10px;
    text-align: justify;


}

.formação {
    border-radius: 30px;
    border: 5px solid;
    width: 900px;
    height: 110px;
    margin-top: 20px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-right: 10px;



}

.Botao {
    margin-left: 86%;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 20px;
    cursor: grabbing;




}

.botao2 {
    margin-left: 89%;
    background-color: black;
    color: white;
    padding: 10px;
    text-decoration: none;
    border: 3px solid white;
    border-radius: 20px;
    cursor: grabbing;

}

.botao2:hover,
.Botao:hover {
    background-color: #32682d;
    padding: 15px;
    border: 8px white;
    text-decoration: underline;


}




h1 {
    text-align: center;
    color: white;
    border: 3px solid;
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;



}

h2 {
    color: white;
    border: 10px solid;
    border-radius: 30px;
    background-color: black;
    text-align: center;

}

header img {
    height: 400px;
    height: 200px;
    margin-left: 600px;
    margin-bottom: 70px;
    border: 3px solid black;
    border-radius: 15px;
    padding-left: 1px;
    padding-right: 1px;


}

body {

    background: url(888888.jpg)
}

footer img {
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 200px;
    margin-top: 20px;

}

p {
    margin-top: 2px;
    margin-left: 2px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;




}

footer,
.footer-img {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: grabbing;


}

footer a,
.github {
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 50px;
    text-align: center;
}

.Pro1 {
    display: block;
    background-color: orange;
    color: black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
    margin-top: 10px;
 
    
}






.Pro2 {
    display: block;
    background-color: chartreuse;
    color: black;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid;
    




}





.Pro1:hover,
.Pro2:hover,
.Pro3:hover {
    padding: 20px;
    border: 8px;
    border-radius: 80px;

}

div {
  
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;



}


h3 {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}




h4 {
    text-align: center;
    color: white;
    border: 3px solid;
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;


}

.contatos{
    background-color: black;
}

.li-contatos{
    float: left;
}
